/* common style */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
section{
    margin-bottom: 100px;
}
/* header style */
.header-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.half-item{
    width: 45%;
}
.half-item h1{
    font-size: 40px;
    font-weight: 600;
}
h1.user-name span{
    color: rgb(211, 117, 133);
}
/* flex display */
.flexible-container{
    display: flex;
    justify-content: center;
}
.btn-link{
    background-image: linear-gradient(rgb(223, 130, 146), rgb(216, 79, 102));
    color: #fff;
    text-decoration: none;
    padding: 10px 22px;
    border-radius: 4px;
}
.half-item img{
    width: 80%;
}
.bigdream-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
/* Experience-section style */
.Experience-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.Experience-section h4{
    color: rgb(245, 143, 9);
}
.Experience-section .half-item {
    box-shadow: 5px 5px 5px 5px #888888;
    width: 45%;
    margin: 76px;
    padding: 30px 30px;
}
.half-item.full-stack{
    border-left: 8px solid;
    border-image: linear-gradient(rgb(105, 211, 132), rgb(250, 172, 3));
    border-image-slice: 1;
}

.half-item.baby-web{
    border-left: 8px solid;
    border-image: linear-gradient(rgb(22, 22, 236), rgb(221, 77, 77));
    border-image-slice: 1;
}
.footer-section{
    text-align: center;
}
